<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>
      Content: <%= @question.content%>
    </div>
    <div>
      Name: <%= @question.name %>
    </div>
    <hr>
  </div>
  <div>
    <%= link_to '> Home', root_path %>
  </div>
</div>
