<div class="row">
  <aside class="col-xs-4">
    <div class="card" style="width: 20rem;">
      <h3 class="card-title"><%= @user.name %></h3>
      <div class="card-body">
        <img class="card-img-top" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs">
       <li class="nav-item"><a class="nav-link active">Questions(まだダミー)</a></li>
       <li class="nav-item"><a class="nav-link">Answers(まだダミー)</a></li>
       <li class="nav-item"><a class="nav-link">Followings(まだダミー)</a></li>
       <li class="nav-item"><a class="nav-link">Followers(まだダミー)</a></li>
    </ul>
  </div>
</div>
<div>
    <%= link_to '> Home', root_path %>
</div>
